<h1>О программе</h1>
<br />
<p>
  Программа автоматической расстановки
  <br />
  компенсаторов и неподвижных опор
  <br />
  марки "Альтеза"
  <br />
  © 2021 Альтеза,
  <br />
  Все права защищены.
  <br />
  Поддержка: support@altezza-com.ru
</p>
<br />
<br />
<p>
  Сертификат соответствия № 003-2021.
  <br />
  Соответствует требованиям:
  <br />
  ГОСТ 51571-2000, ГОСТ 32935-2014, ГОСТ 3262-75, ГОСТ 10704-91,
  <br />
  СП 60.13330-2020, СП 30.13330-2020, СП 124.1330-2012, CП 73.13330-2016
  <br />
  Литература:
  <br />
  1. ГОСТ 3262-75, ГОСТ 10704-91, СП 131.13330.2020, СП 30.13330.2016, СП 60.13330.2016, СТО НП «АВОК» 1.05–2006, СТО НП «АВОК» 2.1–2017
  <br />
  2. ISBN 978-5-98267-066-3, Рекомендации АВОК, Компенсаторы сильфонные и опоры для внутренних инженерных систем, 2021
</p>
