body {
}

.input_width300 {
  width: 300px;
}
.input_width330 {
  width: 330px;
}
.input_width360 {
  width: 360px;
}
.input_width365 {
  width: 365px;
}


.margin-left1 {
  margin-left: 1%
}
.margin-left2 {
  margin-left: 2%
}

.margin-left3 {
  margin-left: 3%
}
.margin-left4 {
  margin-left: 4%
}
